<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org" th:fragment="layout (conteudo,titulo,scripts)">

<head >
<!-- Meta tags Obrigatórias -->

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="utf-8" />

	<title th:replace="${titulo}"></title>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css}" type="text/css">
<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.15.1/css/all.css}" type="text/css">

	<!-- Bootstrap CSS -->
	<link th:href="@{/css/styleHome.css}" rel="stylesheet" type="text/css">

<script th:src="@{/webjars/font-awesome/6.0.0/js/all.js}"
	data-auto-replace-svg="nest"></script>





</head>

<body>

	<header th:fragment="header">
		<!-- Cabeçalho -->
		<nav class="navbar fixed-top navbar-expand-md navbar-light shadow "
			style="background-color: #276561;">
			<div class="container-fluid ">

				<div class="row w-100">
					<!-- linha -->
					<div class="col-sm-12 col-md " >

						<div class="row"><!--alinhamento interno-->
							<div class="col">
								<!-- coluna 1 -->
								<a class="navbar-brand " th:href="@{/}"> <img
									th:src="@{/img/LogoNees.svg}" alt="" width="50" height="50"
									class="d-inline-block "> Nees
								</a>
							</div>

							<div class="col text-right">
								<button class="navbar-toggler " type="button"
									data-toggle="collapse" data-target="#navbarTogglerDemo02"
									aria-controls="navbarTogglerDemo02" aria-expanded="false"
									aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>
							</div>
						</div>
					</div>
					<!-- fim da coluna 1 -->

					<div class="col">
						<!-- coluna 2 -->
						<div class="collapse navbar-collapse " id="navbarTogglerDemo02">
							<ul class="navbar-nav ml-auto ">
								<li class="nav-item  "><a class="nav-link "
									aria-current="page" th:href="@{/}"><i class="fas fa-home fa-fw"
										style="color: white"></i>Inicio</a></li>
								<li class="nav-item"><a class="nav-link " th:href="@{/artigos}"><i
										class="fas fa-file-alt fa-fw" style="color: white"></i>Artigos</a>
								</li>
								<li class="nav-item"><a class="nav-link"  th:href="@{/apoiadores}"><i
										class="fas fa-hands-helping fa-fw" style="color: white"></i>Apoiadores</a>
								</li>
								<li class="nav-item"><a class="nav-link "  th:href="@{/sobre}"><i
										class="fas fa-address-card fa-fw" style="color: white"></i>
										Sobre</a></li>

								<div class="col ">
									<div sec:authorize="isAnonymous()">
									<a type="submit" class="btn btn-primary btn-block" th:href="@{/login}">Login</a>
									</div>
									<div sec:authorize="isAuthenticated()">
										<a type="submit" class="btn btn-primary btn-block" th:href="@{/membro/}">Painel</a>
									</div>
								</div>
								<div class="col ">
									<div sec:authorize="isAuthenticated()">
										<a type="submit" class="btn btn-primary btn-block" th:href="@{/logout}">Sair</a>
									</div>
								</div>

							</ul>
						</div>
					</div>
					<!-- fim da coluna 2 -->


				</div>
				<!-- fim da linha -->
			</div>

		</nav>
	</header>

	<div class="container shadow mb-5 bg-body rounded mt-5 ">
		<div class="row barrainferior" style="background-color: #276561; ">
			<div class="col-12 " th:include="${titulo}"></div>
		</div>


	<main class="pt-3 pb-3" th:include="${conteudo}">
		<!--Conteudo que vem da classe filha-->
	</main>
	</div>

	<footer th:fragment="rodape"
			class=" rodape bg-dark text-center text-white  ">

		<div class=" p-2 h-100">

			<section >
				<!-- Facebook -->
				<a class="btn btn-outline-light btn-floating mr-1" href="https://www.facebook.com/gruponees"
				   role="button"><i class="fab fa-facebook-f"></i></a>

				<!-- Instagram -->
				<a class="btn btn-outline-light btn-floating  " href="https://www.instagram.com/gruponees/"
				   role="button"><i class="fab fa-instagram"></i></a>

			</section>

		</div>


		<!-- Copyright -->
		<div class="text-center  "
			 style="background-color: rgba(0, 0, 0, 0.2);">© 2022 Copyright</div>
		<!-- Copyright -->


	</footer>

	<div th:fragment="scripts" th:remove="tag">
		<!-- JavaScript -->
		<script th:src="@{/webjars/jquery/3.5.1/jquery.slim.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.bundle.min.js}"></script>


	</div>

	<!--/* Para links adicionais das páginas */-->

	<th:block th:replace="${scripts}" />


</body>
</html>