<!DOCTYPE html>
<html lang="pt-br" th:replace="~{fragmentos/fragmentosAdminV3 :: layout (~{:: main},~{:: title},~{:: script})}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Grupos</title>
</head>
<body>
<main>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-responsive">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nome</th>

                    <th>Status</th>
                    <th></th>

                </tr>
                </thead>

                <tbody>
                <tr class="table-row" scope="row" th:data-href="@{/membro/grupo/{id}(id=${grupo.id})}"
                    th:each="grupo : ${grupos}">
                    <td class="col-1" th:text="${grupo.id}"></td>
                    <td class="col-3" th:text="${grupo.nome}"></td>

                    <td class="col-1" th:text="${grupo.status} "></td>

                    <td class="col-1 ">
                        <div class="row ">

                            <a class="col-xs-6 m-1  btn btn-primary btn-sm  "
                               th:href="@{/membro/admin/grupo/editarGrupo/{id}(id=${grupo.id})}">
                                <i class="fas fa-edit"></i>
                            </a>


                            <a class="col-xs-6 m-1 btn btn-primary btn-sm"
                               th:href="@{/membro/grupo/{id}(id=${grupo.id})}">
                                <i class="fas fa-eye"></i>
                            </a>

                        </div>
                    </td>


                </tr>
                </tbody>

            </table>

            <a class="btn btn-primary" th:href="@{/membro/admin/grupo/novoGrupo}">
                <i class="fa fa-plus-circle"></i> Novo Grupo
            </a>
        </div>
    </div>

</main>

<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/cidades.js}"></script>
<script th:src="@{/js/jquery.mask.min.js}"></script>
<script th:src="@{/js/mascaras.js}"></script>


</body>
</html>