<!DOCTYPE html>
<html lang="pt-br" th:replace="~{fragmentos/fragmentosV3 :: layout (~{:: main},~{:: title},_)}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Apoiadores</title>

</head>
<body>
<main>

        <div class="container">
            <div class="row justify-content-md-center">

                <div class="col-md-12 col-lg-6">

                    <div class="carousel slide w-100" data-ride="carousel" id="carouselExampleCaptions">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carouselExampleCaptions"></li>
                            <li data-slide-to="1" data-target="#carouselExampleCaptions"></li>

                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img alt="..." class="d-block w-100"
                                     src="https://scontent-gru1-2.xx.fbcdn.net/v/t1.6435-9/71958523_760151774424537_4448022909474045952_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG5n0bO2lDCdla1I3HsXQo8o11tJnK46qSjXW0mcrjqpP2NzH1IRTIKnoj5rgq32Nj4Esgm_HlqnEKd15qH6Ml_&_nc_ohc=AELO_jqIOrwQ7kNvgEnD9Yi&_nc_ht=scontent-gru1-2.xx&oh=00_AYDRtAp0DliGh-Lk65Eavl4r5h1XRvrP1MNGiT_5r2Nlbw&oe=66940AD9">

                            </div>
                            <div class="carousel-item">
                                <img alt="..." class="d-block w-100"
                                     src="https://scontent-gru2-2.xx.fbcdn.net/v/t1.6435-9/72477599_760151827757865_8327112860119334912_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHoNIQivzgWvFwJajMoLPbUxhYtwt8p4YfGFi3C3ynhh9mvxordOhWvqHgyQdFir9oIfqbRrb35ElMI6UYIJhNB&_nc_ohc=sD_qsqHzUloQ7kNvgGub42-&_nc_ht=scontent-gru2-2.xx&oh=00_AYBeqePUa9H_VLmVNJcLLUJqlwKlVbJp1yfQkaccudIiRQ&oe=6694266D">

                            </div>

                        </div>
                        <button class="carousel-control-prev" data-slide="prev" data-target="#carouselExampleCaptions"
                                type="button">
                            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-slide="next" data-target="#carouselExampleCaptions"
                                type="button">
                            <span aria-hidden="true" class="carousel-control-next-icon"></span>
                            <span class="sr-only">Next</span>
                        </button>
                    </div>


                </div>

            </div>
        </div>


</main>


</body>
</html>
